.App {
  text-align: center;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 40px auto 50px auto;
}
.gallery-card {
  text-align: center;
  margin: 10px;
  background-color: lavender;
  border-radius: 10px;
  padding: 10px;
}
